.header {
    height: 125px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    padding-left: 65px;
}
.header-menu {
    display: flex;
    padding-right: 75px;
}
.header-menu h4 {
    padding: 0 30px;
}