body {
    background: black;
}

.header {
    height: 125px;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    padding-left: 65px;
}
.header-menu {
    display: flex;
    padding-right: 75px;
}
.header-menu h4 {
    padding: 0 30px;
}

.loading {
    color: white;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1140px;
    margin: auto;
}
.product {
    margin-top: 20px;
    width: 30%;
    background: white;
}
.product-name {
    text-align: center;
}
.product-image{
    width: 100%;
}
.product-description {
    text-align: justify;
    width: 70%;
    margin: auto;
}
.product-price {
    text-align: center;
}
.product-buttons {
    display: flex;
    justify-content: space-around;
}
