.news{
    width: 450px;
    height: inherit;
    text-align: justify;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: cornflowerblue solid 5px;
    border-radius: 35px;
    margin: 10px;
}